<!-- CAROUSEL -->
<div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2600">
 
    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 396px;">
            <img src="../../../assets/images/bannerProjectWork.png" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item" style="height: 396px;">
            <img src="../../../assets/images/bannerProjectWork2.png" class="d-block w-100" alt="Slide 2">
        </div>
    </div>

</div>