<div class="container">
    <app-user-login
    [isVisible]="userLoginPopupVisible"
    (leave)="deactivateUserLoginFormPopup()"
    (login)="userLoginManager()">
</app-user-login>
<app-navbar
    [userLogged]="userLogged"
    (userRegFormPopup)="activateUserRegFormPopup()"
    (userLoginFormPopup)="activateUserLoginFormPopup()"
    (userLogout)="userLogoutManager()"
    (search)="getItemAPI($event)">
    
</app-navbar>
<app-carousel></app-carousel>
<app-home-card></app-home-card>

<app-user-reg
        [isVisible]="userRegPopupVisible"
        (leave)="deactivateUserRegFormPopup()"
        (register)="userRegistrationManager()">
    </app-user-reg>
<app-footer></app-footer>
</div>