<div class="container">
    <app-user-login
    [isVisible]="userLoginPopupVisible"
    (leave)="deactivateUserLoginFormPopup()"
    (login)="userLoginManager()">
</app-user-login>
<app-navbar
    [position]="'home'"
    (userRegFormPopup)="activateUserRegFormPopup()"
    (userLoginFormPopup)="activateUserLoginFormPopup()">
    
</app-navbar>
<app-home-card></app-home-card>

<app-user-reg
        [isVisible]="userRegPopupVisible"
        (leave)="deactivateUserRegFormPopup()"
        (register)="userRegistrationManager()">
    </app-user-reg>
<app-footer></app-footer>
</div>