.container-fluid {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top:3%;
    background-color: white;
}

.boss {
    font-family: 'Roboto', sans-serif; /* Usa il font Roboto */
    font-size: 3.5em; /* Ingrandisci il font a tuo piacimento */
    font-weight: bold; /* Rendi il testo grassetto */
    /* Altre proprietà CSS personalizzate se necessario */
  }