.container-fluid {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top:3%;
    
}

.boss {
    font-family: 'Raleway';
    font-size: 4em; /* Ingrandisci il font a tuo piacimento */
    font-weight: bold; /* Rendi il testo grassetto */
    /* Altre proprietà CSS personalizzate se necessario */
  }

  
.hammerBox{
    background-image: url('src\assets\images\sfondoBody.png'); /* Sostituisci con il percorso del tuo pattern */
    background-repeat: repeat;
}
span{
    background-color:rgba(255, 255, 255, 0.65);
}