<body>
    <div class="wrapper">
        <div id="filler"></div>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="filler"></div> <!-- serve per mantenere i contenuti della pagina sulla destra  -->
            <div class="sidebar-header">
                <h1 id="sidebarWebsiteName">Auction Platform</h1>
                <img src="../../../assets/images/logogenbay_white.png" id="logo" alt="logo dell'asta">
            </div>

            <ul class="list-unstyled components">
                <p>MENU</p>
                <li>
                    <a routerLink="">Home</a>
                    <a (click)="ritorna_al_profilo()" style="cursor: pointer;">Il tuo profilo</a>
                    <a (click)="addNewItem()" style="cursor: pointer;">Aggiungi un nuovo articolo</a>
                    <a (click)="offerte()" style="cursor: pointer;">Le tue offerte</a>
                    <a (click)="articoliAsta()" style="cursor: pointer;">I tuoi articoli all'asta</a>
                    <a (click)="articoliVenduti()" style="cursor: pointer;">I tuoi articoli venduti</a>
                </li>
            </ul>
        </nav>

        <app-item-form [(isVisible)]="itemFormVisibility" [user]="user" [lander]="child_lander" (timeToRefresh)="refresh()"></app-item-form>
        <app-item-details [(isVisible)]="itemDetailsVisibility" [item]="item"></app-item-details>

        <!-- Page Content  -->
        <!-- Articoli all'asta  -->
        <div class="container-fluid" *ngIf="child_lander == 'auction'">
            <h1 class="pageTitle">Articoli all'asta</h1>
            <div class="row">
                <div *ngFor="let item of items" class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card">
                        <img class="card-img-top" [src]="item?.image ? item?.image : '../../../assets/images/placeholder.png'"
                        alt="Card image cap">
                        <strong id="nome_articolo">{{item.name}}</strong>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-lg-6 col-sm-12 price">
                                    Base asta: {{item.auctionBase}}&nbsp;€
                                </div>
                                <div class="col-lg-6 col-sm-12 price">
                                    Offerta corrente: {{item.majorOffer}}&nbsp;€
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 mt-sm-2">
                                    <button (click)="itemDetails(item)" class="btn btn-outline-warning btn-md articoli_asta_btn">Dettagli</button>
                                </div>
                                <div class="col-lg-6 col-md-12 mt-sm-2">
                                    <button (click)="removeItem(item)" class="btn btn-outline-danger btn-md articoli_asta_btn">Rimuovi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Articoli venduti  -->
        <div class="container-fluid" *ngIf="child_lander == 'soldItems'">
            <h1 class="pageTitle">Articoli venduti</h1>
            <div class="row">
                <div *ngFor="let item of items" class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://i1.wp.com/potafiori.com/wp-content/uploads/2020/04/placeholder.png?ssl=1"
                            alt="Card image cap">
                        <strong id="nome_articolo">Nome articolo</strong>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-lg-6 col-sm-12 price">
                                    Prezzo iniziale
                                </div>
                                <div class="col-lg-6 col-sm-12 price">
                                    Prezzo di vendita
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button (click)="itemDetails(item)" id="articoli_venduti_btn"
                                    class="btn btn-outline-warning btn-md mt-2">Dettagli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offerte  -->
        <div class="container-fluid" *ngIf="child_lander == 'offer'">
            <h1 class="pageTitle">Le tue offerte inviate</h1>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-6">Nome articolo</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Data e ora offerta</th>
                                <th>Base asta</th>
                                <th>Offerta</th>
                                <th>Stato</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Data e ora</td>
                            <td>base asta</td>
                            <td>offerta</td>
                            <td>stato</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>