body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.pageTitle {
    text-align: center;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#filler {
    min-width: 250px;
}

#sidebarWebsiteName {
    font-size: 30px;
    line-height: 50px;
}

#sidebar {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #6D93A8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #334D5C;
    text-align: center;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 2em;

}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.3em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    CARD STYLE
----------------------------------------------------- */

.card {
    min-width: 160px;
}

#nome_articolo {
    text-align: center;
    margin-top: 5px;
    font-size: large;
}

#articoli_asta_btns {
    display: flex;
    justify-content: space-between;
}

.articoli_asta_btn {
    width: 100%;
}

#articoli_venduti_btn {
    width: 100%;
}

/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */

table {
    width: 100%;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#td-offerta {
    text-align: right;
}

/* ---------------------------------------------------
    PAGINA OFFERTE
----------------------------------------------------- */



.jumbotron {
    background-color: rgb(240, 240, 240);
    padding: 0;
    margin-top: 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
    .price {
        text-align: center;
    }
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}