<div class="wrapper">
    <!-- Navbar  -->
    <div id="sidebar">
        <div id="sidebar-header">
            <img src="../../../assets/images/logogenbay_white.png" id="logo" alt="logo dell'asta">
        </div>
        <ul class="list-unstyled components">
            <p>MENU</p>
            <li><a class="links" routerLink="">Home</a></li>
            <li><a class="links" (click)="ritorna_al_profilo()">Il tuo profilo</a></li>
            <li><a class="links" (click)="sentOffers()">Offerte inviate</a></li>
            <div *ngIf="this.userType == 'v'">
                <li><a class="links" (click)="receivedOffers()">Offerte ricevute</a></li>
                <li><a class="links" (click)="addNewItem()">Aggiungi un nuovo articolo</a></li>
                <li><a class="links" (click)="articoliAsta()">I tuoi articoli all'asta</a></li>
                <li><a class="links" (click)="articoliVenduti()">I tuoi articoli venduti</a></li>
            </div>
        </ul>
    </div>
        
    <app-item-form [(isVisible)]="itemFormVisibility" [user]="user" [lander]="lander" (timeToRefresh)="refresh()"></app-item-form>
    <app-item-details [(isVisible)]="itemDetailsVisibility" [(userItem)]="item"></app-item-details>

    <!-- Page content  -->
    <!-- Articoli all'asta  -->
    <div class="container-fluid" *ngIf="lander == 'auction'">
        <h1 class="pageTitle">Articoli all'asta</h1>
        <div class="row">
            <div *ngFor="let item of items" class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mt-4">
                <div class="card">
                    <img class="card-img-top" [src]="item?.image ? item?.image : '../../../assets/images/placeholder.png'"
                    alt="Card image cap">
                    <strong class="cardTitle">{{item.name}}</strong>
                    <span class="cardTitle">Stato: <span [ngStyle]="{'color': item.state == 'disponibile' ? 'red' : 'green' }">{{item.state}}</span></span>
                    <div class="card-body">
                        <div class="row justify-content-between">
                            <div class="col-lg-6 col-sm-12 price">
                                Base asta: {{item.auctionBase}}&nbsp;€
                            </div>
                            <div class="col-lg-6 col-sm-12 price">
                                Offerta corrente: {{item.majorOffer}}&nbsp;€
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mt-sm-2">
                                <button (click)="itemDetails(item)" class="btn btn-outline-warning btn-md articoli_asta_btn">Dettagli</button>
                            </div>
                            <div class="col-lg-6 col-md-12 mt-sm-2">
                                <button (click)="removeItem(item)" class="btn btn-outline-danger btn-md articoli_asta_btn">Rimuovi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Articoli venduti  -->
    <div class="container-fluid" *ngIf="lander == 'soldItems'">
        <h1 class="pageTitle" [hidden]="this.items == null">Non hai articoli venduti</h1>
        <h1 class="pageTitle" [hidden]="this.items !== null">Articoli venduti</h1>
        <div class="row">
            <div *ngFor="let item of items" class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mt-4">
                <div *ngIf="item.state == 'Venduto'">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://i1.wp.com/potafiori.com/wp-content/uploads/2020/04/placeholder.png?ssl=1"
                            alt="Card image cap">
                        <strong id="nome_articolo">{{item.name}}</strong>
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-lg-6 col-sm-12 price">
                                    Prezzo iniziale: {{item.auctionBase}}
                                </div>
                                <div *ngFor="let offer of item.offers">
                                    <div *ngIf="offer.state == 'accettata'">
                                        <div class="col-lg-6 col-sm-12 price">
                                            Prezzo di vendita: {{offer.amount}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button (click)="itemDetails(item)" id="articoli_venduti_btn"
                                    class="btn btn-outline-warning btn-md mt-2">Dettagli</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--OFFERTE INVIATE-->
    <div class="container-fluid" *ngIf="lander == 'sentOffers'">
        <h1 class="pageTitle" [hidden]="this.offerSent">Non hai inviato nessuna offerta</h1>
        <h1 class="pageTitle" [hidden]="!this.offerSent">Le tue offerte inviate</h1>
        <hr>
        <div *ngFor="let offer of offers">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-6">{{offer.item?.name}}</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Data e ora offerta</th>
                                <th>Base asta</th>
                                <th>Offerta</th>
                                <th>Stato</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>{{offer.timing}}</td>
                            <td>{{offer.item?.auctionBase}} €</td>
                            <td>{{offer.amount}} €</td>
                            <td>{{offer.state}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--OFFERTE RICEVUTE-->
    <div class="container-fluid" *ngIf="lander == 'receivedOffers'">
        <h1 class="pageTitle" [hidden]="offerReceived">Non hai ricevuto offerte per i tuoi articoli</h1>
        <h1 class="pageTitle" [hidden]="!offerReceived">Le tue offerte ricevute</h1>
        <hr>
        <div *ngFor="let userItem of user?.items">
            <div *ngFor="let itemOffer of userItem.offers">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-6">{{userItem.name}}</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Data e ora offerta</th>
                                    <th>Base asta</th>
                                    <th>Offerta</th>
                                    <th>Stato</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>{{itemOffer.timing}}</td>
                                <td>{{userItem.auctionBase}} €</td>
                                <td>{{itemOffer.amount}} €</td>
                                <td>{{itemOffer.state}}</td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-3">
                                <button (click)="acceptOffer(itemOffer)"  class="btn btn-outline-success btn-md articoli_asta_btn">Accetta offerta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>