<footer class="bg-light text-center text-lg-start">
    <!-- Sezione Vendite -->
    <div class="container-fluid p-4" style="background-color:#1F1F1F;">
      <div class="row">
          <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
              <h6 style="color: white;">Sezione Vendite</h6>
              <ul class="list-unstyled mb-0">
                  <li>
                      <a href="#">Protezione Venditori</a>
                  </li>
                  <li>
                      <a href="#">Tariffe Venditori</a>
                  </li>
                  <li>
                      <a href="#">Centro Spedizioni</a>
                  </li>
              </ul>
          </div>
          <!-- Copyright -->
    <div class="col-lg-4 col-md-4 mb-4 mb-md-0 copyright" style="color: white;">
      © 2023 Jaita89
    </div>
       <!-- Supporto -->
          <div class="col-lg-4 col-md-4 mb-4 mb-md-0 supporto">
            <h6 style="color: white;">Supporto</h6>
            <ul class="list-unstyled mb-0">
              <li>
                  <a href="#">Contattaci</a>
              </li>
              <li>
                  <a href="#">Garanzia Clienti</a>
              </li>
              <li>
                  <a href="#">FAQ</a>
              </li>
            </ul>
        </div>
    </div>
  </div>
  </footer>