<div class="popup-overlay  d-flex justify-content-center" *ngIf="isVisible">
    <div class="popup" >
        <div class="row">
            <div class="col-12 text-center">

                <h5 class="m-4" style="color: #ffffff;">Modifica dati utente</h5>
                <!--vedi se vuoi mettere il server error-->
            </div>
        </div>
        <form #f="ngForm" (submit)="formManager(f)">
            <div class="row mt-2 ">
                <div class="col-12  ">
                  <!-- DATA -->
                  <div class="row  d-flex justify-content-center text-center">
                    
                         <!-- NOME --> 
                    <div class="row d-flex justify-content-center" >
                        <div class="col-4 ">
                            <label>Nome:</label>
                            <input [ngModel]="user?.name" type="text" name="name" class="form-control" required 
                                pattern="[a-zA-Z\sàèìòù']{1,50}" #name="ngModel"
                                [ngStyle]="{'background-color': name.invalid && name.dirty ? '#fa8072' : 'white'}">
                            <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Il nome non può contenere numeri
                              </div>
                        </div>
                         <!-- COGNOME -->
                        <div class="col-4">
                            <label>Cognome:</label>
                            <input [ngModel]="user?.lastname" type="text" name="lastname" class="form-control" required 
                                pattern="[a-zA-Z\sàèìòù']{1,50}" #lastname="ngModel"
                                [ngStyle]="{'background-color': lastname.invalid && lastname.dirty ? '#fa8072' : 'white'}">
                                                            <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                                Il cognome non può contenere numeri
                              </div>
                        </div>
                        
                    </div>
                      <!-- EMAIL -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-4">
                            <label>Email:</label>
                            <input [ngModel]="user?.mail" type="email" name="mail" class="form-control" required
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" #mail="ngModel"
                                [ngStyle]="{'background-color': mail.invalid && mail.dirty ? '#fa8072' : 'white'}">
                                                            <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
                                Esempio di formato corretto: user@gmail.com
                              </div>
                        </div> 
                        <!-- CODICE FISCALE -->
                        <div class="col-4">
                            <label>Codice Fiscale:</label>
                            <input [ngModel]="user?.taxcode" type="text" name="taxCode" class="form-control" required
                                pattern="[a-zA-Z]{6}\d{2}[ABCDEHLMPRSTabcdehlmprst]\d{2}[a-zA-Z]\d{3}[a-zA-Z]" #taxCode="ngModel"
                                [ngStyle]="{'background-color': taxCode.invalid && taxCode.dirty ? '#fa8072' : 'white'}">
                            <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="taxCode.valid || taxCode.pristine" class="alert alert-danger">
                             Formato codice fiscale ( es. ABCDEF12[ABCDEHLMPRST]34B567C )
                           </div>
                        </div>
                    </div>
                   
                         <!-- PASSWORD -->

                        <div class="col-4">
                            <label>Password:</label>  <!--VA MOSTRATA IN CHIARO MI SA-->
                            <input [ngModel]="user?.password" type="password" name="password" class="form-control" required
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,10}"
                                #password="ngModel"
                                [ngStyle]="{'background-color': password.invalid && password.dirty ? '#fa8072' : 'white'}">
                                    <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                La password deve contenere almeno:
                                <ul>
                                    <li>1 lettera maiuscola</li>
                                    <li>1 lettera minuscola</li>
                                    <li>1 cifra</li>
                                    <li>1 carattere speciale (@$!%*?&)</li>
                                    <li>Avere lunghezza tra 6 e 10 caratteri</li>
                                </ul>
                              </div>
                        </div>
                    </div>
                    
                         <!-- IMMAGINE DEL PROFILO -->
                         <div class="row d-flex justify-content-center text-center">
                        <div class="col-8 mt-4 mb-2"   >
                            <!--<label>Immagine del profilo: </label>-->
                            <input type="file" name="profileImage" class="form-control-file"  style="display: none;"
                            accept="image/jpeg,image/png" maxlength="5242880"
                            (change)="uploadImage($event)" #image>
                            <button type="button" class="btn btn-outline-warning mt-4" 
                                (click)="image.click()">
                                <span [hidden]="profileImage">Carica immagine del profilo</span>
                                <span [hidden]="!profileImage">Modifica immagine</span>
                            </button>
                        </div>
                    </div>
                    </div>
                   
                     <!-- DOMICILIO -->
                     <h5 class=" text-center  mt-4 mb-4" style="color: #ffffff;" >Indirizzo di residenza:</h5>
                     <div class="row d-flex justify-content-center">
                        <div class="col-4">
                            <label>Via/Viale/Piazza</label>
                            <input [ngModel]="user?.homeAddress?.street" type="text" name="street" class="form-control" required  
                                pattern="[a-zA-Z0-9\sàèìòù'.]{1,50}" #street="ngModel"
                                [ngStyle]="{'background-color': street.invalid && street.dirty ? '#fa8072' : 'white'}">
                        </div>
                        <div class="col-2">
                            <label>Civico:</label>
                            <input [ngModel]="user?.homeAddress?.civic" type="text" name="civic" class="form-control" required
                                pattern="[a-zA-Z0-9/_-]{1,20}" #civic="ngModel"
                                [ngStyle]="{'background-color': civic.invalid && civic.dirty ? '#fa8072' : 'white'}">
                                                                                           <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="civic.valid || civic.pristine" class="alert alert-danger">
                                da implementare
                              </div>
                        </div>
                        <div class="col-2">
                            <label>Cap:</label>
                            <input [ngModel]="user?.homeAddress?.cap" type="text" name="cap" class="form-control" required
                                pattern="[0-9]{5}" #cap="ngModel" 
                                [ngStyle]="{'background-color': cap.invalid && cap.dirty ? '#fa8072' : 'white'}">
                                                                                           <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="cap.valid || cap.pristine" class="alert alert-danger">
                                Il CAP deve essere composto da 5 cifre
                              </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <label>Comune:</label>
                            <input [ngModel]="user?.homeAddress?.town" type="text" name="town" class="form-control" required  
                                pattern="[a-zA-Z0-9\sàèìòù'.]{1,50}" #town="ngModel"
                                [ngStyle]="{'background-color': town.invalid && town.dirty ? '#fa8072' : 'white'}">
                                                                                           <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="town.valid || town.pristine" class="alert alert-danger">
                                Il comune può contenere solo lettere e i caratteri speciali 'à', 'è', 'ì', 'ò', 'ù'
                              </div>
                        </div>
                        <div class="col-2">
                            <label>Provincia:</label>
                            <input [ngModel]="user?.homeAddress?.province" type="text" name="province" class="form-control" required
                                pattern="[a-zA-Z]{2}" #province="ngModel"
                                [ngStyle]="{'background-color': province.invalid && province.dirty ? '#fa8072' : 'white'}">
                                                                                           <!--MESSAGGIO DI ERRORE-->
                            <div [hidden]="province.valid || province.pristine" class="alert alert-danger">
                                La provincia deve essere composta da 2 lettere
                              </div>
                        </div>
                    </div>
                    
                    <!-- INDIRIZZO DI SPEDIZIONE    da implementare messaggi di errore TODO-->
                    <h5 class="text-center mt-4 mb-4" style="color: #ffffff;">Indirizzo di spedizione:</h5>
                    <div class="row d-flex justify-content-center"> 
                        <div class="col-4">
                            <label>Via/Viale/Piazza</label>
                            <input [ngModel]="user?.shippingAddress?.street" type="text" name="shipping_street" class="form-control" required  
                                pattern="[a-zA-Z0-9\sàèìòù'.]{1,50}" #shipping_street="ngModel"
                                [ngStyle]="{'background-color': shipping_street.invalid && shipping_street.dirty ? '#fa8072' : 'white'}">
                        </div>
                        <div class="col-2">
                            <label>Civico:</label>
                            <input [ngModel]="user?.shippingAddress?.civic" type="text" name="shipping_civic" class="form-control" required
                                pattern="[a-zA-Z0-9/_-]{1,20}" #shipping_civic="ngModel"
                                [ngStyle]="{'background-color': shipping_civic.invalid && shipping_civic.dirty ? '#fa8072' : 'white'}">
                        </div>
                        <div class="col-2">
                            <label>Cap:</label>
                            <input [ngModel]="user?.shippingAddress?.cap" type="text" name="shipping_cap" class="form-control" required
                                pattern="[0-9]{5}" #shipping_cap="ngModel" 
                                [ngStyle]="{'background-color': shipping_cap.invalid && shipping_cap.dirty ? '#fa8072' : 'white'}">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <label>Comune:</label>
                            <input [ngModel]="user?.shippingAddress?.town" type="text" name="shipping_town" class="form-control" required  
                                pattern="[a-zA-Z0-9\sàèìòù'.]{1,50}" #shipping_town="ngModel"
                                [ngStyle]="{'background-color': shipping_town.invalid && shipping_town.dirty ? '#fa8072' : 'white'}">
                        </div>
                        <div class="col-2">
                            <label>Provincia:</label>
                            <input [ngModel]="user?.shippingAddress?.province" type="text" name="shipping_province" class="form-control" required
                                pattern="[a-zA-Z]{2}" #shipping_province="ngModel"
                                [ngStyle]="{'background-color': shipping_province.invalid && shipping_province.dirty ? '#fa8072' : 'white'}">
                        </div>
                    </div>
                     <!-- BOTTONE ABBANDONA -->
                    <div class="row mt-2 mb-4">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-outline-warning mt-4" 
                                (click)="leaveUserUpdatePopup(f)">
                                Abbandona
                            </button>
                            <input type="submit" class="btn btn-outline-primary mt-4 ms-4" 
                                value="Modifica Profilo">
                        </div>
                    </div>
                </div>
         
          
            </form>
          </div>

</div>

