a {
    color: white;
}

.dropdown-item{
    color:#1F1F1F;
}

a:hover {
    color: #E43137;
}

#logo {
    width: 300px;
}

.navbar {
    background-color: #1F1F1F;
    padding-right: 20px;
}

.custom-search-input {
    width: 300px;
}

.mx-auto {
    display: flex;
    align-items: center;
}