#bottone_sotto_profilo {
    margin-top: 20px;
}

.bottone_2 {
    margin-top: 10px;
    background-color: #F6C358;
    color: #334D5C;
    font-weight: lighter;
}

#info_btn {
    padding: 4px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 60px;
}