.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  .popup-overlay.visible {
    display: block;
  }

  .popup {
    position: relative;
    margin: auto;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 20px;
    border-style:outset;
    border-color:#75757580;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 20px;
    z-index: 10;
  }