<div *ngIf="item !== undefined" class="card">
    <img class="card-img-top" [src]="item.image ? item.image : '../../../assets/images/placeholder.png'"
    alt="Card image cap">
    <strong id="nome_articolo">{{item.name}}</strong>
    <div class="card-body">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-sm-12 price">
                <strong>Base asta:</strong> {{item.auctionBase}}&nbsp;€
            </div>
            <div class="col-lg-6 col-sm-12 price">
                <strong>Offerta:</strong> {{item.majorOffer}}&nbsp;€
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-sm-2">
                <button (click)="details(item)"  class="btn btn-outline-warning btn-md articoli_asta_btn">Dettagli</button>
            </div>
            <!--se utente è logged in e seller-->
            <div *ngIf="userLogged && item.seller?.id==loggedUserID "  class="col-lg-6 col-md-12 mt-sm-2">
                <button (click)="manageItems()" class="btn btn-outline-primary btn-md articoli_asta_btn">Gestisci</button>
            </div>
            <!--se utente è logged in-->
            <div *ngIf="userLogged && item.seller?.id!=loggedUserID" class="col-lg-6 col-md-12 mt-sm-2">
                <button (click)="activateOfferPopup()" class="btn btn-outline-success btn-md articoli_asta_btn">Fai un'offerta</button>
            </div>
            <!--se utente non è logged in-->
            <div *ngIf="!userLogged" class="col-lg-6 col-md-12 mt-sm-2">
                <button (click)="notLoggedOffer()"  class="btn btn-outline-success btn-md articoli_asta_btn">Fai un'offerta</button>
            </div>
        
        </div>
    </div>
</div>

<app-item-details [(isVisible)]="itemDetailsVisibility" [(item)]="itemDetails"></app-item-details>

<app-offer-popup [(isVisible)]="offerPopupVisibility" [item]="item" [minOffer]="itemMinOffer" (registered)="deactivateOfferPopup()"></app-offer-popup>





