<!-- CATEGORIA ARREDAMENTO CASA -->
        <!-- slide1 -->
  
                  
                        <div class="card">
                            <img [src]="item?.image ? item?.image : '../../../assets/images/placeholder.png'" class="card-img-top" style="height:300px;"
                                alt="Card image cap">
                            <!-- Card content -->
                            <div class="card-body text-center" style="height: 200px; ">
                                <h4 class="card-title">{{item?.name}}</h4>
                                <p class="card-text">OFFERTA ATTUALE</p>
                                <h4>{{item?.auctionBase}} €</h4> <!--NON SO COME METTERE L'OFFERTA PIÙ RECENTE-->
                                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
                            </div>
                        </div>
                    
    



