
<!-- DA FINIRE -->

<div class="d-flex justify-content-center align-items-center m-4">
    <div class="col-md-3">
        <div class="card" style="width: 300px; height: 500px;">
                <img class="card-img-top" style="height:300px;"src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2021/11/19/e/0/1/e019a6b1-ac88-4dc0-8b53-367fbf990a3a.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
             <!-- Card content -->
             <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Tavolino di servizio</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>140 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 300px;height: 500px;">
                <img class="card-img-top"style="height:300px;" src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2023/7/12/a/3/4/a340987e-989d-4987-9bf0-da090060e8bf.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>

             <!-- Card content -->
             <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Cache pot</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>250 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 300px;height: 500px;">
                <img class="card-img-top" style="height:300px;"src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2023/9/11/7/2/0/7200686c-0dac-4e73-87b8-cddddee52f0f.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            <!-- Card content -->
            <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Arazzo</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>2.400 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center m-4">
    <div class="col-md-3">
        <div class="card" style="width: 300px; height: 500px;">
                <img class="card-img-top"style="height:300px;" src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2023/7/20/4/7/4/474a8ab6-858c-4795-b9d9-0d6359def0cd.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
             <!-- Card content -->
             <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Vaso di ceramica Bodenvase</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>80 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 300px;height: 500px;">
                <img class="card-img-top" style="height:300px;"src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2023/9/5/0/d/b/0db10e8d-0043-4ecb-aa9d-b06693f6574c.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
             <!-- Card content -->
             <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title"> Poltrona elettrica ed ironica</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>185 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 300px;height: 500px;">
                <img class="card-img-top" style="height:300px;" src="https://assets.catawiki.com/image/pr:cw_large/plain/assets/catawiki/assets/2023/9/5/e/3/1/e314a0a0-3984-4ef3-9c5f-8e76607f3c11.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            <!-- Card content -->
            <div class="card-body text-center">
                <!-- Title -->
                <h4 class="card-title">Specchio da terra</h4>
                <!-- Text -->
                <p class="card-text">OFFERTA ATTUALE</p>
                <h4>250 €</h4>
                <!-- Button -->
                <a href="#" class="btn" style="background-color:#F6C358 ; color:#334D5C;">Visualizza</a>
            </div>
        </div>
    </div>
</div>