.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  max-height: 100%;
    overflow-y: auto; 
}

.popup-overlay.visible {
  display: block;
}

#title {
  text-align: center;
}

.card {
  position: relative;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 500px;
  padding: 20px;
  z-index: 10;
}


