<div class="popup-overlay" *ngIf="isVisible">

        <div class="card">
    
            <h3 id="title">Dettagli articolo</h3>
  
            <img  src="https://www.gardendesign.com/pictures/images/675x529Max/site_3/helianthus-yellow-flower-pixabay_11863.jpg"alt="immagine-articolo">
            <div class="card-body">
                <div class="card-title">
                    <h4>Nome articolo</h4>
                </div>
                <div class="card-text">
                    <p>
                        <strong>Descrizione: </strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sit debitis dignissimos quidem quinostrum nam, vitae voluptatibus cupiditate tempora animi at culpa quis non maxime officiis dolores reiciendisadipisci!
                    </p>
                    <p>
                        <strong>Base d'asta: </strong> Prezzo
                    </p>
                    <button class="btn btn-outline-danger me-4" (click)="leaveItemDetails()">Abbandona</button>
                </div>
            </div>
        </div>

</div>