/* You can add global styles to this file, and also import other style files */
body {
    max-width: 1600px; /* Set the maximum width you desire */
    margin: 0 auto; /* Center-align the content */
   
    
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

ul p, li {
  font-family: 'Montserrat';
}

body {
  background-image: url('percorso-del-tuo-pattern.jpg'); /* Sostituisci con il percorso del tuo pattern */
  background-repeat: repeat-y; /* Ripeti l'immagine verticalmente solo sui lati sinistro e destro */
  background-position: top left, top right; /* Posiziona l'immagine in alto a sinistra e in alto a destra */
  background-size: auto; /* Imposta la dimensione dell'immagine come automatica */
  /* Altre proprietà CSS per il corpo, se necessario */
}
.contenuto {
  padding: 20px;
  /* Altre proprietà CSS per il contenuto, se necessario */
}

