<div class="popup-overlay" [ngClass]="{'visible':isVisible}">
    <div class="popup">
        <form #f="ngForm" (submit)="formManager(f)" >
            <div class="form-row"><h5>Nuovo articolo</h5></div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Nome dell'articolo:</label>
                    <input id="in" #name="ngModel" [ngModel] type="text" name="name" class="form-control" required pattern="[a-zA-Zàèìòù\s']+" [ngStyle]="{'background-color': name.invalid && name.dirty ? '#fa8072' : 'white'}">
                    <!--MESSAGGIO DI ERRORE-->
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Il nome deve essere composto di sole lettere</div>
                </div>
                <div class="form-group col-md-12">
                    <label>Descrizione:</label>
                    <input [ngModel] name="description" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Base d'asta:</label>
                    <input [ngModel] type="number" name="auctionBase" class="form-control" required>
                </div>
                <div class="form-group col-md-12">
                    <input [ngModel] type="file" name="image" class="form-control" style="display: none;"
                    accept="image/jpeg,image/png" maxlength="1048576"
                    #image (change)="uploadImage($event)">
                    <button type="button" class="btn btn-outline-warning mt-4" 
                    (click)="image.click()">
                    <span [hidden]="itemImage">Carica immagine di copertina</span>
                    <span [hidden]="!itemImage">Immagine caricata</span>
                    </button>
                </div>
            </div>    
            <div class="form-row">
                <div class="form-group col-md-12 mt-4">
                    <input [disabled]="f.invalid" type="submit" value="Conferma" class="btn btn-outline-primary">
                </div>
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-outline-danger mt-4"
                    (click)="leaveItemForm(f)">
                        Abbandona
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
